<div class="container">
  <h2>上傳影像</h2>
  <input type="file" name="file_upload" id="file_upload" />
</div>

<script type="text/javascript" charset="utf-8">
$(function() {
  // Create an empty object to store our custom script data
  var uploadify_script_data = {};

  // Fetch the CSRF meta tag data
  var csrf_token = $('meta[name=csrf-token]').attr('content');
  var csrf_param = $('meta[name=csrf-param]').attr('content');

  // Now associate the data in the config, encoding the data safely
  uploadify_script_data[csrf_param] = encodeURI(csrf_token);

  $('#file_upload').uploadify({
    'swf'      : '/assets/uploadify.swf',
    'uploader' : '/uploads',
    'fileObjName': 'upload[upload]',
    'fileSizeLimit' : '10MB',
    'formData' : uploadify_script_data
    // Put your options here
  });
});
</script>
